@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
html, body{
  font-size: 16px;
  background-color: #f6f6ef;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;

}
* { box-sizing: border-box; }